@import "../../../styles/colors.scss";

.meme-card {
  width: 100%;
  position: relative;
  background-color: $bg_color;

  &__content {
    width: 100%;
    height: 150%;
    position: relative;
  }
}
